@import url("https://fontlibrary.org/face/segment7");

body {
    font-family: "Segment7Standard";
}

#gameContainer {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.cursor {
    cursor: pointer;
}

/* greenbutton #00C513 #05ff1d  */
/*  yellowButton #FFE500 #ff9900 */
/*  blueButton #005CFF #0900b1 */
/*  redButton #FF0000 #fb52cc  */
