#gameContainer {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.gameplayButton {

}

.cursor {
    cursor: pointer;
}


/* greenbutton #00C513 #05ff1d  */
/*  yellowButton #FFE500 #ebff00 */
/*  blueButton #005CFF #699fff */
/*  redButton #FF0000 #ff004c  */
